<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>React App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.23.0/theme/monokai.css" />
<link href="./style.css" rel="stylesheet"></head>
<body>
  <div class="container">
    <div id="app">Loading...</div>
  </div>
<script type="text/javascript" src="./a2f8ec6bed7904007f7a.js"></script></body>
</html>
